<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-2.0.6.xsd">

	<global-method-security secured-annotations="enabled">

	</global-method-security>

	<http auto-config="true" access-denied-page="/acessoNegado.jsf" access-decision-manager-ref="accessDecisionManager">
	    <intercept-url pattern="/javax.faces.resource/*" filters="none" />
		<intercept-url pattern="/login.*" filters="none" />
		<intercept-url pattern="/**.jsf" access="USUARIO" />
		<form-login authentication-failure-url="/login.jsf?msg=erro" login-page="/login.jsf" />
		<logout logout-success-url="/inicio.jsf" />
	</http>

	<beans:bean id="accessDecisionManager"
		class="org.springframework.security.vote.AffirmativeBased">
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:ref bean="roleVoter" />
				<beans:ref bean="authenticatedVoter" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="roleVoter" class="org.springframework.security.vote.RoleVoter">
		<beans:property name="rolePrefix" value="" />
	</beans:bean>

	<beans:bean id="authenticatedVoter"
		class="org.springframework.security.vote.AuthenticatedVoter">
	</beans:bean>


	<beans:bean id="usuarioService" class="br.com.ambientinformatica.ivolunteer.util.UsuarioService">
		<beans:property name="dataSource" ref="dataSource"></beans:property>
	</beans:bean>

	<authentication-provider user-service-ref="usuarioService">
		<password-encoder hash="md5"/>
	</authentication-provider>

</beans:beans>
